
.me .dijitButtonNode {
	
	border: 1px solid #c0c0c0;
	border-bottom: 1px solid #9b9b9b;
	padding: 0.1em 0.2em 0.2em 0.2em;
	background: #fff url("../images/buttonEnabled.png") repeat-x bottom left;
}
.me .dijitButtonText {
	text-align: center;
	padding: 0 0.3em;
}
.me .dijitInputField {
	padding: 0; 
}
.me .dijitDisabled .dijitButtonText {
	color: #7F7F7F;
}
.me .dijitArrowButton {
	color: #111;
}
.me .dijitComboButton .dijitDownArrowButton {
	padding-right:4px;
}
.me .dijitTextBoxReadOnly,
.me .dijitTextBoxReadOnly .dijitButtonNode,
.me .dijitButtonDisabled .dijitButtonNode,
.me .dijitToggleButtonDisabled .dijitButtonNode,
.me .dijitDropDownButtonDisabled .dijitButtonNode,
.me .dijitComboButtonDisabled .dijitButtonNode,
.me .dijitTextBoxDisabled,
.me .dijitTextBoxDisabled .dijitButtonNode {
	
	border-color: #d5d5d5 #d5d5d5 #bdbdbd #d5d5d5;
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
}
.me .dijitButtonHover .dijitButtonNode,
.me .dijitButtonNodeHover,
.me .dijitToggleButtonHover .dijitButtonNode,
.me .dijitDropDownButtonHover .dijitButtonNode,
.me .dijitComboButton .dijitButtonContentsHover,
.me .dijitComboButton .dijitDownArrowButtonHover {
	
	
	border-color: #a5beda;
	border-bottom-color:#5c7590;
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}
.me .dijitDownArrowButtonHover,
.me .dijitUpArrowButtonHover {
	
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}
.me .dijitUpArrowButtonActive,
.me .dijitDownArrowButtonActive,
.me .dijitButtonActive .dijitButtonNode,
.me .dijitToggleButtonActive .dijitButtonNode,
.me .dijitDropDownButtonActive .dijitButtonNode,
.me .dijitButtonContentsActive,
.me .dijitStackController .dijitToggleButtonChecked .dijitButtonNode {
	
	border-color:#366dba;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}
.me .dijitArrowButtonInner {
	background:url("../images/spriteArrows.png") no-repeat scroll 0 center;
	width: 7px;
	height: 7px;
	margin: 0 4px 0 4px;
}
.me .dijitTextBox .dijitArrowButtonInner {
	background-position: 0 center;
}
.dj_ie6 .me .dijitArrowButtonInner {
	background-image:url("../images/spriteArrows.gif");
}
.me .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -7px center;
}
.me .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -14px center;
}
.me .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -21px center;
}
.me .dijitDisabled .dijitArrowButtonInner {
	background-position: -28px center;
}
.me .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
	background-position: -35px center;
}
.me .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
	background-position: -42px center;
}
.me .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
	background-position: -49px center;
}
.dj_ie .me .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
	margin-top: -2px; 
}
.dj_webkit .me .dijitSpinner .dijitUpArrowButton .dijitArrowButtonInner,
.dj_iequirks .me .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner,
.dj_ie8 .me .dijitSpinner .dijitDownArrowButton .dijitArrowButtonInner {
	margin-top: -1px; 
}
.me .dijitSpinnerButtonContainer {
	width: auto;
	padding: 0;
}
.me .dijitSpinner .dijitArrowButton {
	width: 15px;
}
.me .dijitSpinner .dijitSpinnerButtonInner {
	width: 15px;
}
.me .dijitSpinner .dijitArrowButtonInner .dijitInputField {
	padding: 0;
}
