
.me .dijitRadio,			
.me .dijitRadioIcon	{		
	background-image: url('../images/checkmark.png'); 
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 0;
	padding: 0;
}
.dj_ie6 .me .dijitRadio,
.dj_ie6 .me .dijitRadioIcon	{
	background-image: url('../images/checkmark.gif'); 
}
.me .dijitToggleButton .dijitRadioIcon {
	
	background-image: url('../images/checkmarkNoBorder.png');
}
.dj_ie6 .me .dijitToggleButton .dijitRadioIcon {
	background-image: url('../images/checkmarkNoBorder.gif');
}
.me .dijitRadio,
.me .dijitRadioIcon {
	
	background-position: -112px;
}
.me .dijitRadioDisabled {
	
	background-position: -144px;
}
.me .dijitRadioHover {
	
	background-position: -176px;
}
.me .dijitRadioChecked,
.me .dijitRadioCheckedHover,
.me .dijitToggleButtonChecked .dijitRadioIcon {
	
	background-position: -96px;
}
.me .dijitRadioCheckedDisabled {
	
	background-position: -128px;
}
