
.me .dijitSelectError .dijitButtonContents,
.me .dijitSelectHover .dijitArrowButton,
.me .dijitSelectActive .dijitArrowButton,
.me .dijitSelectOpened .dijitArrowButton,
.me .dijitSelectDisabled .dijitArrowButton,
.me .dijitSelectReadOnly .dijitArrowButton {
	background: transparent none;
}
.me .dijitSelect .dijitArrowButton {
	background: #fff url("../images/buttonEnabled.png") repeat-x bottom left;
	border-width: 0;
}
.me .dijitSelectDisabled,
.me .dijitSelectDisabled TD {
	border-color: #d5d5d5 #bdbdbd #bdbdbd #d5d5d5 !important;
	background:#e4e4e4 url("../images/buttonDisabled.png") top repeat-x;
}
.dj_ie .me .dijitSelectDisabled TD * {
	filter: gray() alpha(opacity=50);
}
.me .dijitSelectHover,
.me .dijitSelectHover TD {
	border-color:#a5beda #5c7590 #5c7590 #a5beda !important;
	color:#243C5F;
	background:#fcfdff url("../images/buttonHover.png") repeat-x bottom;
}
.me .dijitSelectActive,
.me .dijitSelectOpened,
.me .dijitSelectActive TD,
.me .dijitSelectOpened TD {
	border-color:#366dba !important;
	background: #ededed url("../images/buttonActive.png") bottom repeat-x;
}
.me .dijitSelectMenu td {
	padding: 0;
}
.me .dijitSelectMenu .dijitMenuItemLabel,
.me .dijitSelectMenu .dijitMenuArrowCell {
	padding: 0.1em 0.2em;
}
