.me .dijitSliderRtl .dijitSliderProgressBarH,
.me .dijitSliderRtl .dijitSliderRemainingBarH,
.me .dijitSliderRtl .dijitSliderLeftBumper,
.me .dijitSliderRtl .dijitSliderRightBumper,
.me .dijitSliderRtl .dijitSliderTopBumper {
	background-position: top right;
}
.me .dijitSliderRtl .dijitSliderProgressBarV,
.me .dijitSliderRtl .dijitSliderRemainingBarV,
.me .dijitSliderRtl .dijitSliderBottomBumper {
	background-position: bottom right;
}
.me .dijitSliderRtl .dijitSliderLeftBumper {
	border-left-width: 0;
	border-right-width: 1px;
}
.me .dijitSliderRtl .dijitSliderRightBumper {
	border-left-width: 1px;
	border-right-width: 0;
}
.me .dijitSliderRtl .dijitSliderIncrementIconH {
	background-position: -7px 0;
}
.me .dijitSliderRtl .dijitSliderDecrementIconH {
	background-position: -14px 0;
}
