
.me .dojoDndItemOver {
	background-image: url(images/treeHover.png);
}
.me .dojoDndItemAnchor,
.me .dojoDndItemSelected {
	background-color: #E2EBFE;
}
.me table.dojoDndAvatar { -moz-border-radius: 0; border: 1px solid #ccc; border-collapse: collapse; background-color: #fff; font-size: 75%; color: black;}
.me .dojoDndAvatar td	{ border: none; }
.me .dojoDndAvatar tr	{ border: none; }
.me .dojoDndAvatarHeader td	{ height: 20px; padding: 0 0 0 21px; }
.me .dojoDndAvatarItem td { padding: 2px;}
.me.dojoDndMove .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoMove.png); background-repeat: no-repeat; background-position: 2px center;}
.me.dojoDndCopy .dojoDndAvatarHeader	{background-color: #f58383; background-image: url(images/dndNoCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.me.dojoDndMove .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndMove.png); background-repeat: no-repeat; background-position: 2px center;}
.me.dojoDndCopy .dojoDndAvatarCanDrop .dojoDndAvatarHeader	{background-color: #97e68d; background-image: url(images/dndCopy.png); background-repeat: no-repeat; background-position: 2px center;}
.me .dijitIconLoading {
	background:url('images/loading.gif') no-repeat left center;
	width: 24px;
	height: 24px;
}
.me .dijitIconError {
	background:url('images/warning.png') no-repeat left center;
	width: 16px;
	height: 16px;
}
