.dijitEditor {
	border:1px solid #bfbfbf;
	border-top:0;
}
.me .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsEnabled.png'); 
	background-repeat: no-repeat;
	width: 18px;
	height: 18px;
	text-align: center;
}
.me .dijitDisabled .dijitEditorIcon {
	background-image: url('../../icons/images/editorIconsDisabled.png'); 
}
