
.me .dijitBorderContainer {
	background-color: #fcfcfc;
	padding: 5px;
}
.me .dijitSplitContainer-child,
.me .dijitBorderContainer-child {
	
	border: 1px #ccc solid;
}
.me .dijitBorderContainer-dijitTabContainerTop,
.me .dijitBorderContainer-dijitTabContainerBottom,
.me .dijitBorderContainer-dijitTabContainerLeft,
.me .dijitBorderContainer-dijitTabContainerRight {
	
	 border: none;
}
.me .dijitBorderContainer-dijitBorderContainer {
	
	border: none;
	padding: 0;
}
.me .dijitSplitterH,
.me .dijitGutterH {
	background:#fcfcfc;
	border:0;
	height:5px;
}
.me .dijitSplitterH .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:1px;
	top:2px;
	width:19px;
}
.me .dijitSplitterV,
.me .dijitGutterV {
	background:#fcfcfc;
	border:0;
	width:5px;
}
.me .dijitSplitterV .dijitSplitterThumb {
	background:#B0B0B0 none;
	height:19px;
	left:2px;
	width:1px;
}
.me .dijitSplitterActive {
	font-size: 1px;
	background-image: none;
	background-color: #aaa;
	-moz-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(Opacity=60);
	margin: 0;
}
