
.me .dijitContentPane {
	padding: 0;
}
.me .dijitTabContainerTop-dijitContentPane,
.me .dijitTabContainerLeft-dijitContentPane,
.me .dijitTabContainerBottom-dijitContentPane,
.me .dijitTabContainerRight-dijitContentPane,
.me .dijitAccordionContainer-dijitContentPane {
	background-color: #fff;
	padding: 5px;
}
.me .dijitSplitContainer-dijitContentPane,
.me .dijitBorderContainer-dijitContentPane {
	background-color: #fff;		
	padding: 5px;
}