<script id="tmpl-MainScreen" type="text/html">
    <div class="MainScreen">
	    <div class="MainScreen-header">
	    </div>
	    <div class="MainScreen-main">
	    
	    </div>
    </div>
</script>
<script id="tmpl-MainScreen-dialogContent" type="text/html">
  <div>
    <div class='dialogErrorIcon'></div>
    <div class="customContent">
      <div>This is a test content </div>
    </div>
    <div style="clear:both"> </div>
    <div class="contentFooter"><span class="btnYes">Yes</span></div>
  </div>
</script>
